<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suites">
    <test name="Some test" >

        <classes>
            <class name="CameraTest" >
                <methods>
                    <include name="testCountProduct"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>